* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 2rem;
}

.title {
  width: 100%;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.secondContainer {
  margin-top: 1.5rem;
  display: flex;
}

.textArea {
  height: 45rem;
  flex: 1;
}

.textArea textarea {
  font-size: 18px;
  height: 45rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid blue;
}

.gridElements {
  padding-left: 1.5rem;
  flex: 1;
  display: grid;
  grid-template-areas:
    'suggestions suggestions'
    'suggestions suggestions'
    'allsuggestions allsuggestions';
  gap: 10px;
}

.suggestions {
  grid-area: suggestions;
  background-color: #f0f0f0;
  text-align: center;
  height: 8rem;
  overflow-y: scroll;
}

.allSuggestions {
  grid-area: allsuggestions;
  background-color: #f0f0f0;
  text-align: left;
  padding-left: 1rem;
}

.selected {
  background-color: #02ff24; 
}
