.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.input-container {
  display: flex;
  width: 100%;
}

.input-box {
  width: 45%; /* Adjust width as needed */
  height: 60vh; /* Adjust height as needed */
  font-size: 1rem;
  padding: 0.5rem;
  margin: 1.25rem 0;
  border-radius: 0.25rem;
  border: 0.0625rem solid #ccc;
  resize: none; /* Prevent resizing */
}

.suggestion-container {
  width: 30%; /* Adjust width as needed */
  height: 60vh; /* Adjust height as needed */
  margin: 1.25rem 0;
  border-radius: 0.25rem;
  border: 0.0625rem solid #ccc;
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.suggestion-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestion-item {
  cursor: pointer;
  padding: 0.5rem;
}

body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
}
