* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #2c8df6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display:flex;
  justify-content: center; /* Horizontally center the child */
  align-items: center; /* Vertically center the child */
  position: relative;
  background-color: #ffffff;
  width: 80%; /* Adjust width as desired */
  max-width: 600px; /* Limit maximum width */
  border-radius: 5px;
  padding: 10px; /* Add padding for aesthetics */
}

textarea {
  width: calc(100% - 20px); /* Adjust width minus padding */
  height: 200px; /* Adjust height as desired */
  outline: none;
  border: none;
  background-color: transparent;
  color: #000000;
  font-size: 20px; /* Adjust font size as desired */
  resize: none; /* Prevent resizing */
  padding: 10px; /* Add padding for aesthetics */
}

#suggestion {
  color: #868686;
  font-size: 20px; /* Adjust font size as desired */
}
